<div id="users" class="page-layout simple">
    <crud-template #crud [iconTitle]="'phonelink_setup'" title="{{'PROVIDER_PLAN.HEADER.TITLE' | translate}}" [type]="'form'"
        [form]="modelForm" (onSave)="save($event)" [currentPage]="'/ADM/ADM05'">

        <div class="loadingDiv" fxLayoutAlign="center" *ngIf="processing">
            <mat-spinner [color]="'accent'"></mat-spinner>
        </div>

        <form id="form" [formGroup]="modelForm" *ngIf="!processing" class="p-12">
            <div fxLayout="column" fxLayoutAlign="start">
                <mat-form-field fxFlex="100" class="col-md-12">
                    <input name="name" formControlName="name" [(ngModel)]="name" maxlength="50" placeholder="{{'PROVIDER_PLAN.FORM.NAME' | translate}}"
                        matInput required>
                    <mat-error *ngIf="modelFormErrors.name.required">
                        {{'PROVIDER_PLAN.FORM.VALIDATOR.NAME.REQUIRED' | translate}}
                    </mat-error>
                    <mat-error *ngIf="modelFormErrors.name.pattern">
                        {{'PROVIDER_PLAN.FORM.VALIDATOR.NAME.INVALID' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="100" class="col-md-12">
                    <input name="cost" formControlName="cost" [(ngModel)]="cost" maxlength="50" placeholder="{{'PROVIDER_PLAN.FORM.COST' | translate}}"
                        matInput required>
                    <mat-error *ngIf="modelFormErrors.cost.required">
                        {{'PROVIDER_PLAN.FORM.VALIDATOR.COST.REQUIRED' | translate}}
                    </mat-error>
                    <mat-error *ngIf="modelFormErrors.cost.pattern">
                        {{'PROVIDER_PLAN.FORM.VALIDATOR.COST.INVALID' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-select [(ngModel)]="selectedProviderId" (change)="findProvider($event)" required formControlName="provider" placeholder="{{'PROVIDER_PLAN.FORM.PROVIDER' | translate}}">
                        <mat-option *ngFor="let provider of providers" [value]="provider.id">
                            {{ provider.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="modelFormErrors.provider.required">
                        {{'PROVIDER_PLAN.FORM.VALIDATOR.STATE.REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>


                <autocomplete-service-type [selected]="servicesType"></autocomplete-service-type>
            </div>
        </form>
    </crud-template>
</div>