<div id="login" fxLayout="column" fusePerfectScrollbar>

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/ps.png">
            </div>

            <div class="title">
                {{'LOGIN.TITLE' | translate}}
            </div>
            <div class="loadingDiv" fxLayoutAlign="center"*ngIf="processing">
                <mat-spinner [color]="'accent'" ></mat-spinner>
            </div>
            <form name="loginForm" [formGroup]="loginForm" novalidate *ngIf="!processing">
                <mat-form-field>
                    <input matInput placeholder="{{'LOGIN.LABELS.USERNAME.PLACEHOLDER' | translate}}" 
                        formControlName="email" [(ngModel)]="email">
                    <mat-error *ngIf="loginFormErrors.email.required">
                        {{'LOGIN.LABELS.USERNAME.ERROR.REQUIRED' | translate}}
                    </mat-error>
                    <mat-error *ngIf="!loginFormErrors.email.required && loginFormErrors.email.email">
                        {{'LOGIN.LABELS.USERNAME.ERROR.INVALID' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" [(ngModel)]="password" 
                        placeholder="{{'LOGIN.LABELS.PASSWORD.PLACEHOLDER' | translate}}" formControlName="password">
                    <mat-error *ngIf="loginFormErrors.password.required">
                        {{'LOGIN.LABELS.PASSWORD.ERROR.REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        {{'LOGIN.ACTION.REMEMBER_ME' | translate}}
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                        {{'LOGIN.ACTION.FORGET_PASSWORD' | translate}}
                    </a>
                </div>

                <button mat-raised-button color="accent" 
                        (click)="login($event)"
                        class="submit-button" 
                        aria-label="LOG IN"
                        [disabled]="loginForm.invalid">
                        {{'LOGIN.ACTION.LOGIN' | translate}}
                </button>

            </form>
        </div>

    </div>

</div>