<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row>
            <span class="title dialog-title">{{'CONTACT.TITLE' | translate}}</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <div class="loadingDiv" fxLayoutAlign="center" *ngIf="processing">
            <mat-spinner [color]="'accent'"></mat-spinner>
        </div>
        <div class="address-component">
            <form [formGroup]="contactForm" fxLayout="row" fxLayoutAlign="start">
                <mat-form-field fxFlex class="md-3">
                    <input name="name" formControlName="name" [(ngModel)]="name" autocomplete="off" required maxlength="130" placeholder="{{'CONTACT.FORM.NAME' | translate}}"
                        matInput>
                    <mat-error *ngIf="contactFormErrors.name.required">
                        {{'CONTACT.FORM.VALIDATOR.NAME.REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex class="md-3">
                    <mat-select [(ngModel)]="type" formControlName="type" placeholder="{{'CONTACT.FORM.TYPE.TITLE' | translate}}">
                        <mat-option *ngFor="let type of contactTypes" [value]="type">
                            {{ 'CONTACT.TYPE.' + type | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="contactFormErrors.type.required">
                        {{'CONTACT.FORM.VALIDATOR.TYPE.REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>


                <mat-form-field fxFlex class="md-3" *ngIf="type === 'EMAIL'">
                    <input name="email" formControlName="email" [(ngModel)]="email" maxlength="130" autocomplete="off" placeholder="{{'CONTACT.FORM.EMAIL' | translate}}"
                        matInput>
                </mat-form-field>

                <mat-form-field fxFlex class="md-3" *ngIf="type === 'PHONE'">
                    <input name="numberPhone" formControlName="numberPhone" [(ngModel)]="numberPhone" maxlength="15" autocomplete="off" placeholder="{{'CONTACT.FORM.PHONE' | translate}}"
                        matInput>
                </mat-form-field>
            </form>
        </div>
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row-reverse" fxLayoutAlign="space-between center">

            <button mat-raised-button (click)="confirmContact()" class="save-button mat-accent" [disabled]="disabledConfirm()" aria-label="SAVE">
                {{'ACTION.SAVE' | translate}}
            </button>

            <button mat-raised-button (click)="cancel()" class="save-button mat-primary" aria-label="CANCEL">
                {{'ACTION.CANCEL' | translate}}
            </button>
        </div>
    </div>
</div>