<div id="users" class="page-layout simple">
    <crud-template #crud [iconTitle]="'local_phone'" title="{{'LINE.HEADER.TITLE' | translate}}" [type]="'form'" [form]="modelForm"
        (onSave)="save($event)" [currentPage]="'/ADM/ADM03'">

        <div class="loadingDiv" fxLayoutAlign="center" *ngIf="processing">
            <mat-spinner [color]="'accent'"></mat-spinner>
        </div>

        <form id="form" [formGroup]="modelForm" *ngIf="!processing" class="formLine">
            <div fxLayout="column" fxLayoutAlign="start">

                <mat-form-field fxFlex="100" class="col-md-12">
                    <input name="number" formControlName="number" autocomplete="off" [(ngModel)]="number" maxlength="20" placeholder="{{'LINE.FORM.NUMBER' | translate}}"
                        matInput required>
                    <mat-error *ngIf="modelFormErrors.number.required">
                        {{'LINE.FORM.VALIDATOR.NUMBER.REQUIRED' | translate}}
                    </mat-error>
                    <mat-error *ngIf="modelFormErrors.number.pattern">
                        {{'LINE.FORM.VALIDATOR.NUMBER.INVALID' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-card >
                    <mat-card-content>
                        <mat-tab-group id="tabs">
                            <mat-tab id="dados" label="{{'LINE.FORM.REGION' | translate}}">
                                <ng-template mat-tab-label>
                                    <label>{{'LINE.FORM.REGION' | translate}}</label>
                                </ng-template>
                                <city-component></city-component>
                            </mat-tab>

                            <mat-tab id="dados" label="{{'LINE.FORM.PROVIDER' | translate}}">
                                <ng-template mat-tab-label>
                                    <label>{{'LINE.FORM.PROVIDER' | translate}}</label>
                                </ng-template>
                                <mat-form-field fxFlex="100" class="col-md-12"> 
                                    <mat-select [(ngModel)]="selectedFornecedor" formControlName="fornecedor"
                                                (change)="changeFornecedor($event)"
                                                placeholder="{{'LINE.FORM.FORNECEDOR' | translate}}">
                                        <mat-option *ngFor="let index of fornecedores" [value]="index.id">
                                            {{ index.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="modelFormErrors.fornecedor.required">
                                        {{'LINE.FORM.VALIDATOR.FORNECEDOR.REQUIRED' | translate}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="100" class="col-md-12">
                                    <mat-select [(ngModel)]="selectedPlanFornecedor" formControlName="planFornecedor"
                                                (change)="changePlan($event)" 
                                                placeholder="{{'LINE.FORM.PROVIDER_PLAN' | translate}}">
                                        <mat-option *ngFor="let index of fornecedoresPlans" [value]="index.id">
                                            {{ index.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="modelFormErrors.planFornecedor.required">
                                        {{'LINE.FORM.VALIDATOR.PROVIDER_PLAN.REQUIRED' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </mat-tab>

                        </mat-tab-group>
                    </mat-card-content>
                </mat-card>

            </div>

            <div fxLayout="row" fxLayoutAlign="start" *ngIf="id">
                <mat-form-field fxFlex>
                    <input name="status" formControlName="status" [(ngModel)]="status" maxlength="20" placeholder="{{'LINE.FORM.STATUS' | translate}}"
                        matInput disabled="true">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input name="released" formControlName="released" [(ngModel)]="released" maxlength="20" placeholder="{{'LINE.FORM.RELEASED' | translate}}"
                        matInput disabled="true">
                </mat-form-field>
            </div>

        </form>
    </crud-template>
</div>