<div id="users" class="page-layout simple">
    <crud-template #crud [iconTitle]="'group'" [table]="list" title="{{'USER.HEADER.TITLE' | translate}}" [type]="'form'"
        [form]="modelForm" (onSave)="save($event)" [currentPage]="'/ADM/ADM02'">

        <div class="loadingDiv" fxLayoutAlign="center" *ngIf="processing">
            <mat-spinner [color]="'accent'"></mat-spinner>
        </div>

        <form [formGroup]="modelForm" *ngIf="!processing" class="form">

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input name="name" formControlName="name" [(ngModel)]="name" maxlength="50" placeholder="{{'USER.FORM.NAME' | translate}}"
                        matInput required>
                    <mat-error *ngIf="modelFormErrors.name.required">
                        {{'USER.FORM.VALIDATOR.NAME.REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input name="login" formControlName="login" [(ngModel)]="login" maxlength="50" placeholder="{{'USER.FORM.LOGIN' | translate}}"
                        (keyup)="verifyLogin($event)" matInput required>
                    <mat-error *ngIf="modelFormErrors.login.required">
                        {{'USER.FORM.VALIDATOR.LOGIN.REQUIRED' | translate}}
                    </mat-error>
                    <mat-error *ngIf="modelFormErrors.login.exists">
                        {{'USER.FORM.VALIDATOR.LOGIN.EXISTS' | translate}}
                    </mat-error>

                    <mat-error *ngIf="modelFormErrors.login.pattern">
                        {{'USER.FORM.VALIDATOR.LOGIN.INVALID' | translate}}
                    </mat-error>


                </mat-form-field>
            </div>

            <mat-card *ngIf="!processing">
                <mat-card-content>
                    <mat-tab-group id="tabs">

                        <mat-tab label="{{'USER.FORM.ADDRESS' | translate}}">
                            <ng-template mat-tab-label>
                                <label>{{'USER.FORM.CONTACT' | translate}}</label>
                            </ng-template>

                            <plussim-contact></plussim-contact>

                        </mat-tab>
                        <mat-tab label="{{'USER.FORM.PROFILES' | translate}}">
                            <ng-template mat-tab-label>
                                <label>{{'USER.FORM.PROFILES' | translate}}</label>
                            </ng-template>

                            <autocomplete-profiles></autocomplete-profiles>

                        </mat-tab>

                        <mat-tab label="{{'USER.FORM.BRANCHS' | translate}}">
                            <ng-template mat-tab-label>
                                <label>{{'USER.FORM.BRANCHS' | translate}}</label>
                            </ng-template>
                            <mat-selection-list #branchList fxFlex="100">
                                <ng-container *ngFor="let branch of branchs">
                                    <mat-list-option [selected]="branch.status" (click)="branch.status = !branch.status">
                                        {{branch.name}}
                                    </mat-list-option>
                                    <mat-divider></mat-divider>
                                </ng-container>
                            </mat-selection-list>

                        </mat-tab>
                        <mat-tab label="{{'USER.FORM.PARTNER' | translate}}">
                            <ng-template mat-tab-label>
                                <label>{{'USER.FORM.PARTNER' | translate}}</label>
                            </ng-template>

                            <mat-selection-list #branchList fxFlex="100">
                                <ng-container *ngFor="let partner of partners">
                                    <mat-list-option [selected]="partner.status" (click)="partner.status = !partner.status">
                                        {{partner.name}}
                                    </mat-list-option>
                                    <mat-divider></mat-divider>
                                </ng-container>
                            </mat-selection-list>

                        </mat-tab>

                    </mat-tab-group>
                </mat-card-content>
            </mat-card>


        </form>


    </crud-template>
</div>