@import "src/@fuse/scss/fuse";
    .formBranch{
        padding:10px;
    }
    .removeButton{
        color: white;
    }

    #tabs{

        mat-tab-body{
            overflow: hidden;
        }

    }