<div id="users" class="page-layout simple">

    <crud-template #crud [iconTitle]="'sim_card'" [table]="list" [service]="service"
                    [type]="'list'"
                    [currentPage]="'/ADM/ADM12'"
                    title="{{'LOT.HEADER.TITLE' | translate}}">
        <crud-table #list
                    [service]="service" 
                    [columns]="columns" 
                    [filter]="filter" >
        </crud-table>
    </crud-template>

</div>