<div id="users" class="page-layout simple">

    <crud-template #crud [iconTitle]="'phonelink_setup'" [table]="list" [service]="planBusiness"
                    [type]="'list'"
                    [currentPage]="'/ADM/ADM05'"
                    title="{{'PLAN.HEADER.TITLE' | translate}}">
        <crud-table #list
                    [service]="planBusiness" 
                    [columns]="columns" 
                    [filter]="filter" >
        </crud-table>
    </crud-template>

</div>