<div fxFlex fxLayout="row" fxLayoutAlign="end">
    <button mat-raised-button class="mat-link-bg" style="width: 100%;" (click)="addEdereco()" color="primary"  >
        {{'ADDRESS.FORM.ADD_ADDRESS' | translate}}
    </button>
</div>

<mat-list>
    <ng-container *ngFor="let item of addressess; let i = index">
        <mat-list-item class="position-relative p-24" fxlayout="column" 
                fxlayoutalign="space-between center" matRipple *ngIf="item.status">
            <mat-icon mat-list-icon>location_on</mat-icon>
            <h4 mat-line>{{item.address}}</h4>
            <p mat-line> {{'LABELS.COUNTRY.' + item.country.code | translate}} </p>
            <p mat-line> {{item.state.name}} </p>
            <p mat-line> {{item.city.name}} </p>
            <p mat-line> {{item.zip}} </p>
            <p mat-line> {{item.complement}} </p>

            <ul style="width: 200px;">
                <li *ngIf="item.primary">
                    <span class="nav-link-title" [translate]="'ADDRESS.OPTION.PRIMARY_ADDRESS'"></span>
                </li>
                <li *ngIf="!item.primary" (click)="setPrimary($event, item)">
                    <a class="nav-link">
                        <span class="nav-link-title" [translate]="'ADDRESS.OPTION.PRIMARY'"></span>
                    </a>
                </li>
                <li (click)="editAddress($event, item, i)">
                    <a class="nav-link">
                        <span class="nav-link-title" [translate]="'ADDRESS.OPTION.EDIT'"></span>
                    </a>
                </li>
                <li (click)="item.status = false">
                    <a class="nav-link">
                        <span class="nav-link-title" [translate]="'ADDRESS.OPTION.REMOVE'"></span>
                    </a>
                </li>
            </ul>
        </mat-list-item>
        <mat-divider *ngIf="item.address.status"></mat-divider>
    </ng-container>
</mat-list>