<div id="profile" class="page-layout simple tabbed" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge" src="assets/images/avatars/profile.jpg" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div class="name" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{username}}
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" 
                (click)="save($event)" 
             *fuseIfOnDom [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button mat-raised-button color="accent" aria-label="Save">
                <mat-icon>save</mat-icon>
                {{'CONFIG.ACTION.SAVE' | translate}}
            </button>
            <button mat-raised-button color="primary" aria-label="Photo">
                <mat-icon>photo_camera</mat-icon>
                {{'CONFIG.ACTION.PHOTO' | translate}}
            </button>

        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">


            <mat-tab label="{{'CONFIG.TABS.DATA_CONFIG' | translate}}">
                <theme-option>></theme-option>
            </mat-tab>
            <mat-tab label="{{'CONFIG.TABS.DATA_ACCOUNT' | translate}}">
            </mat-tab>


        </mat-tab-group>

    </div>

</div>