<div id="users" class="page-layout simple">
    <crud-template #crud [iconTitle]="'lock_outline'" [table]="list" [service]="profileBusiness"
                    [type]="'list'"
                    [currentPage]="'/ADM/ADM06'"
                    title="{{'PROFILE.HEADER.TITLE' | translate}}">
        <crud-table #list
                    [service]="profileBusiness" 
                    [columns]="columns" 
                    [filter]="filter" >
        </crud-table>
    </crud-template>
</div>