<div fxFlex="100" fxLayout="column" fxLayoutAlign="start" *ngIf="!city">

    <mat-form-field class="padding-fields" *ngIf="showCountrySelected()">
        <mat-select [(ngModel)]="countryId" [ngModelOptions]="{standalone: true}" (change)="changeCountry($event)" placeholder="{{'CITY.FORM.COUNTRY' | translate}}">
            <mat-option *ngFor="let index of countries" [value]="index.id">
                {{ 'LABELS.COUNTRY.' + index.code | translate}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div fxLayout="row" class="padding-fields" fxLayoutAlign="start">
        <mat-form-field fxFlex="50" style="padding-right: 13px;" fxLayout="column" fxLayoutAlign="start">
            <mat-select [(ngModel)]="stateId" (change)="loadCity(0)" [ngModelOptions]="{standalone: true}" placeholder="{{'CITY.FORM.STATE' | translate}}">
                <mat-option [value]="null">
                    {{ 'CITY.FORM.STATE_ALL' | translate }}
                </mat-option>
                <mat-option *ngFor="let index of states" [value]="index.id">
                    {{ index.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="50" fxLayout="column" style="padding-left: 13px;" fxLayoutAlign="start">
            <input name="cityName" (keyup)="loadCity(0)" [(ngModel)]="cityName" [ngModelOptions]="{standalone: true}" maxlength="50"
                placeholder="{{'CITY.FORM.CITY_NAME' | translate}}" matInput>
        </mat-form-field>
    </div>

    <ngx-datatable *ngIf="page" #dataTable class="material" [rows]="page.content" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.number"
        [limit]="pageLimit" [selectAllRowsOnPage]="false" (activate)="onActivate($event)" (page)="setPage($event)">


        <ngx-datatable-column [prop]="'name'" name="{{'CITY.FORM.CITY_NAME' | translate}}">

        </ngx-datatable-column>

        <ngx-datatable-column [prop]="'state.name'" name="{{'CITY.FORM.STATE_NAME' | translate}}">

        </ngx-datatable-column>

    </ngx-datatable>

</div>

<mat-list fxFlex="100" *ngIf="city">
    <mat-list-item>
        <button mat-icon-button color="warn" (click)="clearCity($event);">
            <mat-icon aria-label="Remove">cancel</mat-icon>
        </button>
        <h4 mat-line>{{city.state.country.name}}</h4>
        <p mat-line>{{city.state.name + ' - ' + city.name}}</p>

    </mat-list-item>
</mat-list>