<ngx-datatable class="material" [rows]="page.content" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    [externalPaging]="true" [count]="page.numberOfElements" 
    
    [offset]="page.number" [limit]="page.size" [selected]="selected"
    [selectionType]="'checkbox'" [selectAllRowsOnPage]="true"  (activate)="onActivate($event)" (page)="setPage($event)">

    <ngx-datatable-column id="checkboxColumn" [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
        [headerCheckboxable]="true" [checkboxable]="true">
    </ngx-datatable-column>


    <ngx-datatable-column *ngFor="let column of columns" [prop]="column.prop" [name]="column.name | translate">

    </ngx-datatable-column>

    <ngx-datatable-footer>
        <!--
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
            let-curPage="curPage" let-offset="offset">
            <div style="padding: 5px 10px">
                <div>
                    <strong>Summary</strong>: Gender: Female
                </div>
                <hr style="width:100%" />
                <div>
                    <datatable-pager 
                        [pagerLeftArrowIcon]="'datatable-icon-left'" 
                        [pagerRightArrowIcon]="'datatable-icon-right'" 
                        [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'" 
                        [page]="curPage" 
                        [size]="pageSize" 
                        [count]="rowCount" 
                        [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="myTable.onFooterPage($event)">
                    </datatable-pager>
                </div>
            </div>
        </ng-template>
    -->
    </ngx-datatable-footer>



</ngx-datatable>