<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row>
            <span class="title dialog-title">{{'ADDRESS.TITLE' | translate}}</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <div class="loadingDiv" fxLayoutAlign="center" *ngIf="processing">
            <mat-spinner [color]="'accent'"></mat-spinner>
        </div>
        <div class="address-component">
            <form [formGroup]="addressForm" fxLayout="row" fxLayoutAlign="start">

                <mat-form-field fxFlex class="md-3">
                    <mat-select (change)="changeCountry($event)" [(ngModel)]="selectedCountryId" formControlName="country" placeholder="{{'ADDRESS.FORM.COUNTRY' | translate}}">
                        <mat-option *ngFor="let country of countries" [value]="country.id">
                            {{ 'LABELS.COUNTRY.' + country.code | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addressFormErrors.country.required">
                        {{'ADDRESS.FORM.VALIDATOR.COUNTRY.REQUIRED' | translate}}
                    </mat-error>

                </mat-form-field>

                <mat-form-field fxFlex class="md-3">
                    <mat-select (change)="changeState($event)" [(ngModel)]="selectedStateId" formControlName="state" placeholder="{{'ADDRESS.FORM.STATE' | translate}}">
                        <mat-option *ngFor="let state of states" [value]="state.id">
                            {{ state.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addressFormErrors.state.required">
                        {{'ADDRESS.FORM.VALIDATOR.STATE.REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex class="md-3">
                    <mat-select [(ngModel)]="selectedCityId" formControlName="city" (change)="changeCity($event)" placeholder="{{'ADDRESS.FORM.CITY' | translate}}">
                        <mat-option *ngFor="let city of cities" [value]="city.id">
                            {{city.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addressFormErrors.city.required">
                        {{'ADDRESS.FORM.VALIDATOR.CITY.REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>



                <mat-form-field fxFlex class="md-3">
                    <input name="address" formControlName="address" [(ngModel)]="address" required maxlength="130" placeholder="{{'ADDRESS.FORM.ADDRESS' | translate}}"
                        autocomplete="off" matInput>
                    <mat-error *ngIf="addressFormErrors.address.required">
                        {{'ADDRESS.FORM.VALIDATOR.ADDRESS.REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex class="md-3">
                    <input name="zip" formControlName="zip" [(ngModel)]="zip" required maxlength="20" placeholder="{{'ADDRESS.FORM.ZIP' | translate}}"
                        autocomplete="off" matInput>
                    <mat-error *ngIf="addressFormErrors.zip.required">
                        {{'ADDRESS.FORM.VALIDATOR.ZIP.REQUIRED' | translate}}
                    </mat-error>
                    <mat-error *ngIf="addressFormErrors.zip.invalid">
                        {{'ADDRESS.FORM.VALIDATOR.ZIP.INVALID' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex class="md-3">
                    <input name="complement" formControlName="complement" [(ngModel)]="complement" maxlength="200" matInput>
                </mat-form-field>

            </form>
        </div>
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row-reverse" fxLayoutAlign="space-between center">

            <button mat-raised-button (click)="confirmAddress()" class="save-button mat-accent" [disabled]="addressForm.invalid" aria-label="SAVE">
                {{'ACTION.SAVE' | translate}}
            </button>

            <button mat-raised-button (click)="cancel()" class="save-button mat-primary" aria-label="CANCEL">
                {{'ACTION.CANCEL' | translate}}
            </button>
        </div>
    </div>
</div>