<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="mat-accent-bg">
                <div class="title">{{'CONFIG.LAYOUT.TITLE' | translate}}</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <h3 class="title">{{'CONFIG.NAVIGATION.TITLE' | translate}}</h3>
                    <mat-radio-group [(ngModel)]="config.layout.navigation" (ngModelChange)="onSettingsChange()" fxLayout="column" fxLayout.gt-xs="row wrap"
                        class="info" fxLayoutAlign="start start">
                        <mat-radio-button class="mr-8 mb-8" value="top">{{'CONFIG.NAVIGATION.TOP' | translate}}</mat-radio-button>
                        <mat-radio-button class="mr-8 mb-8" value="left">{{'CONFIG.NAVIGATION.LEFT' | translate}}</mat-radio-button>
                        <mat-radio-button class="mr-8 mb-8" value="right">{{'CONFIG.NAVIGATION.RIGHT' | translate}}</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="info-line">
                    <h3 class="title">{{'CONFIG.NAVIGATION_FOLDER.TITLE' | translate}}</h3>
                    <mat-slide-toggle [(ngModel)]="config.layout.navigationFolded" (change)="onSettingsChange()">
                        <label *ngIf="config.layout.navigationFolded">{{'CONFIG.NAVIGATION_FOLDER.YES' | translate}}</label>
                        <label *ngIf="!config.layout.navigationFolded">{{'CONFIG.NAVIGATION_FOLDER.NO' | translate}}</label>
                    </mat-slide-toggle>
                </div>
                <div class="info-line">
                    <h3 class="title">{{'CONFIG.TOOLBAR.TITLE' | translate}}</h3>
                    <mat-radio-group [(ngModel)]="config.layout.toolbar" (ngModelChange)="onSettingsChange()" fxLayout="column" fxLayout.gt-xs="row wrap"
                        fxLayoutAlign="start start">
                        <mat-radio-button class="mr-8 mb-8" value="below">{{'CONFIG.TOOLBAR.BELOW' | translate}}</mat-radio-button>
                        <mat-radio-button class="mr-8 mb-8" value="above">{{'CONFIG.TOOLBAR.ABOVE' | translate}}</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="info-line">
                    <h3 class="title">{{'CONFIG.FOOTER.TITLE' | translate}}</h3>
                    <mat-radio-group [(ngModel)]="config.layout.footer" (ngModelChange)="onSettingsChange()" fxLayout="column" fxLayout.gt-xs="row  wrap"
                        fxLayoutAlign="start start">
                        <mat-radio-button class="mr-8 mb-8" value="below">{{'CONFIG.FOOTER.BELOW' | translate}}</mat-radio-button>
                        <mat-radio-button class="mr-8 mb-8" value="above">{{'CONFIG.FOOTER.ABOVE' | translate}}</mat-radio-button>
                        <mat-radio-button class="mr-8 mb-8" value="none">{{'CONFIG.FOOTER.NONE' | translate}}</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="info-line">
                    <h3 class="title">{{'CONFIG.HORIZONTAL_SIZE.TITLE' | translate}}</h3>
                    <mat-radio-group [(ngModel)]="config.layout.mode" (ngModelChange)="onSettingsChange()" fxLayout="column" fxLayout.gt-xs="row  wrap"
                        fxLayoutAlign="start start">
                        <mat-radio-button class="mr-8 mb-8" value="boxed">{{'CONFIG.HORIZONTAL_SIZE.BOXED' | translate}}</mat-radio-button>
                        <mat-radio-button class="mr-8 mb-8" value="fullwidth">{{'CONFIG.HORIZONTAL_SIZE.FULL' | translate}}</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>

    </div>

    <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">

        <div class="profile-box info-box general" fxLayout="column">


            <header class="mat-accent-bg">
                <div class="title">{{'CONFIG.COLORS.TITLE' | translate}}</div>
            </header>

            <div class="content" fxLayout="column wrap">


                <div class="info-line">
                    <h4 class="title">{{'CONFIG.COLORS.TOOLBAR' | translate}}</h4>
                    <fuse-material-color-picker [(selectedClass)]="config.colorClasses.toolbar" (onValueChange)="onSettingsChange()" fxLayout="column" fxLayout.gt-xs="row wrap"></fuse-material-color-picker>
                </div>


                <div class="info-line">
                    <h4 class="title">{{'CONFIG.COLORS.NAVIGATION' | translate}}</h4>
                    <fuse-material-color-picker [(selectedClass)]="config.colorClasses.navbar" (onValueChange)="onSettingsChange()" fxLayout="column" fxLayout.gt-xs="row wrap"></fuse-material-color-picker>
                </div>


                <div class="info-line">
                    <h4 class="title">{{'CONFIG.COLORS.FOOTER' | translate}}</h4>
                    <fuse-material-color-picker [(selectedClass)]="config.colorClasses.footer" (onValueChange)="onSettingsChange()" fxLayout="column" fxLayout.gt-xs="row wrap"></fuse-material-color-picker>
                </div>

            </div>

        </div>

    </div>

</div>
