<mat-form-field class="autocompleteUsers">
    <input #inputAutocomplete type="text" 
            placeholder="{{'AUTOCOMPLETE.SERVICE_TYPE.FORM.SEARCH_SERVICES.TITLE' | translate}}" 
            aria-label="User" matInput
            (keyup)="searchUser($event)" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option (click)="selectValue(option, inputAutocomplete)" *ngFor="let option of searched" [value]="option">
            {{ option.name }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<mat-list fxFlex="100">
    <h3 mat-subheader>{{'AUTOCOMPLETE.SERVICE_TYPE.FORM.SELECTED_SERVICES.TITLE' | translate}}</h3>
    <ng-container *ngFor="let index of selected | active:true">
        <mat-list-item>
            <button mat-icon-button color="warn" (click)="index.status = false">
                <mat-icon aria-label="Remove">cancel</mat-icon>
            </button>
            <h4 mat-line>{{index.name}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>
</mat-list>