<div id="users" class="page-layout simple">

    <crud-template #crud [iconTitle]="'local_phone'" [table]="list" [service]="business"
                    [type]="'list'"
                    [currentPage]="'/ADM/ADM10'"
                    title="{{'PROVIDER.HEADER.TITLE' | translate}}">
        <crud-table #list
                    [service]="business" 
                    [columns]="columns" 
                    [filter]="filter" >
        </crud-table>
    </crud-template>

</div>