<mat-form-field class="autocompleteProfile">
    <input #profileInput type="text" 
            placeholder="{{'AUTOCOMPLETE.PROFILE.FORM.SEARCH_PROFILES.TITLE' | translate}}" 
            aria-label="User" matInput
            (keyup)="search($event)" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option (click)="selectValue(option, profileInput)" 
                    *ngFor="let option of searched" 
                    [value]="option">
            {{ option.description }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<mat-list fxFlex="100">
    <h3 mat-subheader>{{'AUTOCOMPLETE.PROFILE.FORM.SELECTED_PROFILES.TITLE' | translate}}</h3>
    <ng-container *ngFor="let profile of selected | active:true">
        <mat-list-item>
            <button mat-icon-button color="warn" (click)="profile.status = false">
                <mat-icon aria-label="Remove">cancel</mat-icon>
            </button>
            <h4 mat-line>{{profile.description}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>
</mat-list>