<!-- HEADER -->
<div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <!-- APP TITLE -->
    <div fxLayout="row" fxLayoutAlign="start center">
        <div class="logo" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                {{iconTitle}}
            </mat-icon>
            <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{title}}
            </span>
        </div>

    </div>
    <!-- / APP TITLE -->

</div>
<!-- / HEADER -->

<ng-content select=".beforeContent"></ng-content>

<div class="center p-24 pb-56 col-md-12" fusePerfectScrollbar>

    <!-- CONTENT -->
    <div class="content mat-white-bg mat-elevation-z4">

        <div class="headerContent" *ngIf="isFormPage()">

            <div id="actionsCrud" class="header" fxLayout="row" fxLayoutAlign="start" 
                    fxHide.lt-md>

                <button mat-raised-button color="primary" class="action" (click)="voltar()" 
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                    <mat-icon aria-label="Back">arrow_back</mat-icon>
                    {{'ACTION.BACK' | translate}}
                </button>

                <button mat-raised-button color="accent" class="action" 
                    (click)="saveAction($event)" 
                    [disabled]="form.invalid"
                    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                    <mat-icon aria-label="Save">save</mat-icon>
                    {{'ACTION.SAVE' | translate}}
                </button>

            </div>

            <div id="actionsCrud" class="header" fxLayout="row" fxLayoutAlign="end" 
                    fxHide.gt-md>

                <button mat-button [matMenuTriggerFor]="menu" mat-button 
                    class="mat-icon-button sidenav-toggle mr-12">
                    {{'ACTION.OPTIONS' | translate}}
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="voltar()">
                        <mat-icon aria-label="Back">arrow_back</mat-icon>
                        {{'ACTION.BACK' | translate}}
                    </button>
                    <button mat-menu-item (click)="saveAction($event)">
                        <mat-icon aria-label="Save">save</mat-icon>
                        {{'ACTION.SAVE' | translate}}
                    </button>
                </mat-menu>
            </div>
        </div>

        <div class="headerContent" *ngIf="!isFormPage()">
            <div id="actionsCrud" class="header" fxLayout="row" fxLayoutAlign="end" fxHide.gt-md>
                <button mat-button [matMenuTriggerFor]="menu" mat-button class="mat-icon-button sidenav-toggle mr-12">
                    {{'ACTION.OPTIONS' | translate}}
                </button>
                <mat-menu #menu="matMenu">

                    <button mat-menu-item color="accent" class="action" (click)="newValue()" 
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                        <mat-icon aria-label="Back">add</mat-icon>
                        {{'ACTION.NEW' | translate}}
                    </button>

                    <button mat-menu-item color="primary" class="action" *ngIf="table && table.selected.length === 1"
                        (click)="editValue({'data': table.selected[0]})"
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                        <mat-icon aria-label="Back">mode_edit</mat-icon>
                        {{'ACTION.EDIT' | translate}}
                    </button>

                    <button mat-menu-item color="warn" class="action" (click)="inativeValue($event)" 
                        *ngIf="table && table.selected.length > 0" 
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                        <mat-icon aria-label="Back">delete</mat-icon>
                        {{'ACTION.REMOVE' | translate}}
                    </button>


                </mat-menu>
            </div>
            <div id="actionsCrud" class="header" fxLayout="row" fxLayoutAlign="end" fxHide.lt-md>

                <button mat-raised-button color="accent" class="action" (click)="newValue()" 
                        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                    <mat-icon aria-label="Back">add</mat-icon>
                    {{'ACTION.NEW' | translate}}
                </button>

                <button mat-raised-button color="primary" class="action" 
                        *ngIf="table && table.selected.length === 1" (click)="editValue({'data': table.selected[0]})"
                    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                    <mat-icon aria-label="Back">mode_edit</mat-icon>
                    {{'ACTION.EDIT' | translate}}
                </button>

                <button mat-raised-button color="warn" class="action" (click)="inativeValue($event)" 
                    *ngIf="table && table.selected.length > 0" [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                    <mat-icon aria-label="Back">delete</mat-icon>
                    {{'ACTION.REMOVE' | translate}}
                </button>

            </div>

        </div>

        <div class="example-container mat-elevation-z8">
            <ng-content ></ng-content>
        </div>



    </div>
    <!-- / CONTENT -->

</div>
<!-- / CENTER -->


<ng-content select=".afterContent"></ng-content>