<div id="users" class="page-layout simple">
    <crud-template #crud [iconTitle]="'phone_missed'" [table]="list" [service]="business"
                    [type]="'list'"
                    [currentPage]="'/ADM/ADM07'"
                    title="{{'PABX.HEADER.TITLE' | translate}}">
        <crud-table #list
                    [service]="business" 
                    [columns]="columns" 
                    [filter]="filter" >
        </crud-table>
    </crud-template>
</div>