<div id="users" class="page-layout simple">
    <crud-template #crud [iconTitle]="'lock_outline'" [table]="list" [form]="modelForm" title="{{'PABX.HEADER.TITLE' | translate}}"
        [type]="'form'" (onSave)="save($event)" [currentPage]="'/ADM/ADM07'">

        <div class="loadingDiv" fxLayoutAlign="center" *ngIf="processing">
            <mat-spinner [color]="'accent'"></mat-spinner>
        </div>

        <form id="form" [formGroup]="modelForm" *ngIf="!processing" >
            <div fxLayout="column" fxLayoutAlign="start">
                <mat-form-field fxFlex="100" class="padding-fields">
                    <input name="numberLine" formControlName="numberLine" [(ngModel)]="numberLine" maxlength="50" placeholder="{{'PABX.FORM.NUMBER' | translate}}"
                        matInput required>
                    <mat-error *ngIf="modelFormErrors.numberLine.required">
                        {{'PABX.FORM.VALIDATOR.NUMBER.REQUIRED' | translate}}
                    </mat-error>
                    <mat-error *ngIf="modelFormErrors.numberLine.pattern">
                        {{'PABX.FORM.VALIDATOR.NUMBER.PATTERN' | translate}}
                    </mat-error>
                </mat-form-field>
                <city-component></city-component>
            </div>
        </form>


    </crud-template>
</div>