<div id="users" class="page-layout simple">
    <crud-template #crud [iconTitle]="'local_phone'" title="{{'PROVIDER.HEADER.TITLE' | translate}}" [type]="'form'" [form]="modelForm"
        (onSave)="save($event)" [currentPage]="'/ADM/ADM10'">

        <div class="loadingDiv" fxLayoutAlign="center" *ngIf="processing">
            <mat-spinner [color]="'accent'"></mat-spinner>
        </div>

        <form id="form" [formGroup]="modelForm" *ngIf="!processing" class="formLine">
            <div fxLayout="column" fxLayoutAlign="start">
                <mat-form-field fxFlex>
                    <input name="name" formControlName="name" [(ngModel)]="name" maxlength="50" placeholder="{{'PROVIDER.FORM.NAME' | translate}}"
                        matInput required>
                    <mat-error *ngIf="modelFormErrors.name.required">
                        {{'BRANCH.FORM.VALIDATOR.NAME.REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <input name="regex" formControlName="regex" [(ngModel)]="regex" maxlength="50" placeholder="{{'PROVIDER.FORM.REGEX' | translate}}"
                        matInput required >
                </mat-form-field>

                <plussim-contact></plussim-contact>
            </div>
        </form>
    </crud-template>
</div>