<div id="users" class="page-layout simple">
    <crud-template #crud [iconTitle]="'phonelink_setup'" title="{{'TYPE_PLAN_SERVICE.HEADER.TITLE' | translate}}" [type]="'form'"
        [form]="modelForm" (onSave)="save($event)" [currentPage]="'/ADM/ADM11'">

        <div class="loadingDiv" fxLayoutAlign="center" *ngIf="processing">
            <mat-spinner [color]="'accent'"></mat-spinner>
        </div>

        <form id="form" [formGroup]="modelForm" *ngIf="!processing">
            <div fxLayout="column" fxLayoutAlign="start" class="p-12">
                <mat-form-field fxFlex="100">
                    <input name="name" formControlName="name" 
                        [(ngModel)]="name" maxlength="50" 
                        placeholder="{{'TYPE_PLAN_SERVICE.FORM.NAME' | translate}}"
                        matInput required>
                    <mat-error *ngIf="modelFormErrors.name.required">
                        {{'TYPE_PLAN_SERVICE.FORM.VALIDATOR.NAME.REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </crud-template>
</div>