<div id="users" class="page-layout simple">

    <crud-template #crud [iconTitle]="'business'" [table]="list" [service]="branchBusiness"
                    [type]="'list'"
                    [currentPage]="'/ADM/ADM01'"
                    title="{{'BRANCH.HEADER.TITLE' | translate}}">
        <crud-table #list
                    [service]="branchBusiness" 
                    [columns]="columns" 
                    [filter]="filter" >
        </crud-table>
    </crud-template>

</div>