<div id="users" class="page-layout simple">

    <crud-template #crud [iconTitle]="'phonelink_setup'" [table]="list" [service]="business"
                    [type]="'list'"
                    [currentPage]="'/ADM/ADM11'"
                    title="{{'TYPE_PLAN_SERVICE.HEADER.TITLE' | translate}}">
        <crud-table #list
                    [service]="business" 
                    [columns]="columns" 
                    [filter]="filter" >
        </crud-table>
    </crud-template>

</div>