<div id="users" class="page-layout simple">
    <crud-template #crud [iconTitle]="'lock_outline'" [table]="list" [form]="modelForm" title="{{'PROFILE.HEADER.TITLE' | translate}}"
        [type]="'form'" (onSave)="save($event)" [currentPage]="'/ADM/ADM06'">

        <div class="loadingDiv" fxLayoutAlign="center" *ngIf="processing">
            <mat-spinner [color]="'accent'"></mat-spinner>
        </div>

        <form id="formProfileId" [formGroup]="modelForm" *ngIf="!processing" class="formProfile">
            <div fxLayout="column" fxLayoutAlign="start">
                <mat-form-field fxFlex="100" class="p-12">
                    <input name="description" formControlName="description" [(ngModel)]="model.description" maxlength="50" placeholder="{{'PROFILE.FORM.NAME' | translate}}"
                        matInput required>
                    <mat-error *ngIf="modelFormErrors.description.required">
                        {{'PROFILE.FORM.VALIDATOR.NAME.REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-card>
                    <mat-card-content>
                        <mat-tab-group id="tabs">
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <label>{{'PROFILE.FORM.ROLES.TITLE' | translate}}</label>
                                </ng-template>
                                <mat-selection-list #rolesList fxFlex="100">
                                    <h3 mat-subheader>{{'PERMISSION.READ.TITLE' | translate}}</h3>
                                    <mat-list-option [selected]="role.status" 
                                            *ngFor="let role of roles | role:'_READ'" (click)="role.status = !role.status">
                                        {{'PERMISSION.' + role.roleName |translate}}
                                    </mat-list-option>
                                    <h3 mat-subheader>{{'PERMISSION.WRITE.TITLE' | translate}}</h3>
                                    <mat-list-option [selected]="role.status" 
                                        *ngFor="let role of roles | role:'_WRITE'" (click)="role.status = !role.status">
                                        {{'PERMISSION.' + role.roleName |translate}}
                                    </mat-list-option>                                    
                                </mat-selection-list>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <label>{{'PROFILE.FORM.USERS.TITLE' | translate}}</label>
                                </ng-template>

                                <autocomplete-users>
                                </autocomplete-users>

                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <label>{{'PROFILE.FORM.MENU.TITLE' | translate}}</label>
                                </ng-template>
                                <mat-selection-list #modulesList fxFlex="100">
                                    <ng-container *ngFor="let module of modules">
                                        <h3 mat-subheader>{{'MODULE.' + module.translate + '.TITLE' | translate}}</h3>
                                        <mat-list-option [selected]="program.status" *ngFor="let program of module.children" (click)="program.status = !program.status">
                                            {{program.translate | translate}}
                                        </mat-list-option>
                                        <mat-divider></mat-divider>
                                    </ng-container>
                                </mat-selection-list>
                            </mat-tab>


                        </mat-tab-group>
                    </mat-card-content>
                </mat-card>

            </div>

        </form>


    </crud-template>
</div>