<div fxFlex fxLayout="row" fxLayoutAlign="end">
    <button mat-raised-button class="mat-link-bg" color="primary" (click)="addContact()" style="width: 100%;" >
        {{'CONTACT.FORM.ADD_CONTACT' | translate}}
    </button>
</div>

<mat-list>
    <ng-container *ngFor="let item of contacts; let i = index">
        <mat-list-item class="position-relative p-24" fxlayout="column" fxlayoutalign="space-between center" matRipple *ngIf="item.status">
            <mat-icon mat-list-icon *ngIf="item.type === 'EMAIL'">contact_mail</mat-icon>
            <mat-icon mat-list-icon *ngIf="item.type === 'PHONE'">contact_phone</mat-icon>
            <h4 mat-line>{{item.name}}</h4>
            <h4 mat-line> {{'CONTACT.FORM.TYPE.' + item.type | translate}} </h4>
            <p mat-line *ngIf="item.type === 'EMAIL'"> {{item.email}} </p>
            <p mat-line *ngIf="item.type === 'PHONE'"> {{item.phone}} </p>

            <h4 mat-line > {{'CONTACT.FORM.LOCALES' | translate}} </h4>
            <ng-container mat-line *ngFor="let lang of item.langs">
                <p mat-line *ngIf="lang.status"> {{lang.title}} </p>
            </ng-container>

            <ul style="width: 200px;">
                <li (click)="editContact($event, item, i)">
                    <a class="nav-link">
                        <span class="nav-link-title" [translate]="'CONTACT.OPTION.EDIT'"></span>
                    </a>
                </li>
                <li (click)="item.status = false">
                    <a class="nav-link">
                        <span class="nav-link-title" [translate]="'CONTACT.OPTION.REMOVE'"></span>
                    </a>
                </li>
            </ul>
        </mat-list-item>
        <mat-divider *ngIf="item.status"></mat-divider>
    </ng-container>
</mat-list>