<div id="users" class="page-layout simple">

    <crud-template #crud [iconTitle]="'directions_run'" [table]="list" [service]="partnerBusiness"
                    [type]="'list'"
                    [currentPage]="'/ADM/ADM04'"
                    title="{{'PARTNER.HEADER.TITLE' | translate}}">
        <crud-table #list
                    [service]="partnerBusiness" 
                    [columns]="columns" 
                    [filter]="filter" >
        </crud-table>
    </crud-template>

</div>