<div id="users" class="page-layout simple">
    <crud-template #crud [iconTitle]="'phonelink_setup'" 
            title="{{'PLAN.HEADER.TITLE' | translate}}"
            [type]="'form'"
            [form]="modelForm"
            (onSave)="save($event)" [currentPage]="'/ADM/ADM05'">

        <div class="loadingDiv" fxLayoutAlign="center" *ngIf="processing">
            <mat-spinner [color]="'accent'"></mat-spinner>
        </div>

        <form id="form" [formGroup]="modelForm" *ngIf="!processing" class="formPlan">
            <div fxLayout="column" fxLayoutAlign="start">
                <mat-form-field fxFlex="100" class="col-md-12">
                    <input name="price" formControlName="price" [(ngModel)]="price" maxlength="50" placeholder="{{'PLAN.FORM.PRICE' | translate}}"
                        matInput required>
                    <mat-error *ngIf="modelFormErrors.price.required">
                        {{'PLAN.FORM.VALIDATOR.PRICE.REQUIRED' | translate}}
                    </mat-error>
                    <mat-error *ngIf="modelFormErrors.price.pattern">
                        {{'PLAN.FORM.VALIDATOR.PRICE.INVALID' | translate}}
                    </mat-error>                    
                </mat-form-field>
                <mat-form-field fxFlex="100" class="col-md-12">
                    <input name="days" formControlName="days" [(ngModel)]="days" maxlength="50" placeholder="{{'PLAN.FORM.DAYS' | translate}}"
                        matInput required>
                    <mat-error *ngIf="modelFormErrors.days.required">
                        {{'PLAN.FORM.VALIDATOR.DAYS.REQUIRED' | translate}}
                    </mat-error>
                    <mat-error *ngIf="modelFormErrors.days.pattern">
                        {{'PLAN.FORM.VALIDATOR.DAYS.INVALID' | translate}}
                    </mat-error>                        
                </mat-form-field> 
                
                <autocomplete-service-type [selected]="servicesType" ></autocomplete-service-type>
            </div>
        </form>
    </crud-template>
</div>