<div id="users" class="page-layout simple">
    <crud-template #crud [iconTitle]="'sim_card'" title="{{'LOT.HEADER.TITLE' | translate}}" [type]="'form'" [form]="modelForm"
        (onSave)="save($event)" [currentPage]="'/ADM/ADM12'">

        <div class="loadingDiv" fxLayoutAlign="center" *ngIf="processing">
            <mat-spinner [color]="'accent'"></mat-spinner>
        </div>

        <form id="form" [formGroup]="modelForm" *ngIf="!processing">
            <div fxLayout="column" fxLayoutAlign="start" class="p-12">

                <mat-progress-bar [color]="'primary'" [mode]="'determinate'" [value]="sins.length" *ngIf="sins.length > 0">
                </mat-progress-bar>
                <mat-form-field fxFlex="100">
                    <input name="code" formControlName="code" [(ngModel)]="code" maxlength="50" placeholder="{{'LOT.FORM.CODE' | translate}}"
                        matInput required disabled="true">
                    <mat-error *ngIf="modelFormErrors.code.required">
                        {{'LOT.FORM.VALIDATOR.CODE.REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="100">
                    <mat-select [(ngModel)]="selectedProvider" required formControlName="provider" (change)="selectProvider($event)" placeholder="{{'LOT.FORM.PROVIDER' | translate}}">
                        <mat-option *ngFor="let index of providers" [value]="index.id">
                            {{ index.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="modelFormErrors.provider.required">
                        {{'LOT.FORM.VALIDATOR.PROVIDER.REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="100" *ngIf="provider">
                    <input name="sinCode" formControlName="sinCode" 
                        [(ngModel)]="sinCode" maxlength="50" 
                        placeholder="{{'LOT.FORM.CODE_SIM' | translate}}"
                        matInput (keyup)="onChangeSinCode($event)">
                    <mat-error *ngIf="modelFormErrors.sinCode.pattern">
                        {{'LOT.FORM.VALIDATOR.SIN_CODE.PATTERN' | translate}}
                    </mat-error>
                </mat-form-field>

                <ngx-datatable 
                    #tableSim
                    class="material" 
                    [rows]="page.content" 
                    [columnMode]="'force'" 
                    [headerHeight]="50" 
                    [footerHeight]="50" 
                    [rowHeight]="'auto'"
                    [externalPaging]="true" 
                    [count]="page.numberOfElements" 
                    [offset]="page.number" 
                    [limit]="page.size" 
                    [selected]="selected"
                    [selectionType]="'checkbox'" 
                    [selectAllRowsOnPage]="true"  
                    (activate)="onActivate($event)" 
                    (page)="setPage($event)">
            
                <ngx-datatable-column id="checkboxColumn" 
                    [width]="30" 
                    [sortable]="false" 
                    [canAutoResize]="false" 
                    [draggable]="false" 
                    [resizeable]="false"
                    [headerCheckboxable]="true" 
                    [checkboxable]="true">
                </ngx-datatable-column>
            
            
                <ngx-datatable-column *ngFor="let column of columns" [prop]="column.prop" [name]="column.name | translate">
            
                </ngx-datatable-column>
            </ngx-datatable>


            </div>
        </form>
    </crud-template>
</div>