// Import Fuse main library
@import "@fuse/scss/core";


.header{
    mat-icon{
        color: white !important;
    }
    button{
        margin: 2px !important;
    }
}
.select-widget-plussin {
    background-color: lightblue;
    transition: background-color 400ms ease;

}

.form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint-up('xs') {
        width: 700px;
    }

    .mat-dialog-container {
        padding: 0;
        overflow: hidden;

        .mat-toolbar {
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}
