<div id="users" class="page-layout simple">
    <crud-template #crud [iconTitle]="'group'" [table]="list" [service]="userBusiness"
                    [type]="'list'"
                    [currentPage]="'/ADM/ADM02'"
                    title="{{'USER.HEADER.TITLE' | translate}}">
        <crud-table #list
                    [service]="userBusiness" 
                    [columns]="columns" 
                    [filter]="filter" >
        </crud-table>
    </crud-template>
</div>