<div id="users" class="page-layout simple">
    <crud-template #crud [iconTitle]="'directions_run'" 
            title="{{'PARTNER.HEADER.TITLE' | translate}}"
            [type]="'form'"
            [form]="modelForm"
            (onSave)="save($event)" [currentPage]="'/ADM/ADM04'">

        <div class="loadingDiv" fxLayoutAlign="center" *ngIf="processing">
            <mat-spinner [color]="'accent'"></mat-spinner>
        </div>

        <form id="formBranchId" [formGroup]="modelForm" *ngIf="!processing" class="formBranch">
            <div fxLayout="row" fxLayoutAlign="start">
                <mat-form-field fxFlex>
                    <input name="name" formControlName="name" [(ngModel)]="name" maxlength="50" placeholder="{{'PARTNER.FORM.NAME' | translate}}"
                        matInput required>
                    <mat-error *ngIf="modelFormErrors.name.required">
                        {{'PARTNER.FORM.VALIDATOR.NAME.REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </form>

        <mat-card *ngIf="!processing">
            <mat-card-content>
                <mat-tab-group id="tabs">

                    <mat-tab id="addressTab" label="{{'PARTNER.FORM.ADDRESS' | translate}}">
                        <ng-template mat-tab-label>
                            <label>{{'PARTNER.FORM.ADDRESS' | translate}}</label>
                        </ng-template>
                        <plussim-address></plussim-address>
                    </mat-tab>

                    <mat-tab label="{{'PARTNER.FORM.ADDRESS' | translate}}">
                        <ng-template mat-tab-label>
                            <label>{{'PARTNER.FORM.CONTACT' | translate}}</label>
                        </ng-template>

                        <plussim-contact></plussim-contact>

                    </mat-tab>
                    <mat-tab label="{{'PARTNER.FORM.USERS' | translate}}">
                        <ng-template mat-tab-label>
                            <label>{{'PARTNER.FORM.USERS' | translate}}</label>
                        </ng-template>

                        <autocomplete-users>
                        </autocomplete-users>

                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>

    </crud-template>
</div>